.idea/banco2.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/R_User_Library.xml
dados/__pycache__/__init__.cpython-36.pyc
dados/dados/__pycache__/__init__.cpython-36.pyc
dados/dados/__pycache__/items.cpython-36.pyc
dados/dados/__pycache__/settings.cpython-36.pyc
dados/dados/spiders/__pycache__/Tecnoblog.cpython-36.pyc
dados/dados/spiders/__pycache__/__init__.cpython-36.pyc
